<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <title><%= title%></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Mada:wght@500&family=Open+Sans:ital,wght@1,300&family=Roboto+Slab:wght@300&family=Tajawal:wght@300&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="/frontEnd/assets/css/bootstrap.min.css" />
    <!-- fontawsome -->
    <link rel="stylesheet" href="/frontEnd/assets/css/all.min.css" />
    <link rel="stylesheet" href="/frontEnd/assets/css/main.css" />
    <style>
      * {
        font-family: "Mada", sans-serif;
      }
    </style>
  </head>
</html>
