<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Error page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
       <div class="container">
            <div style="text-align:center; padding:100px 0">
                <h1  class="alert alert-danger text-capitalize"><%= message %></h1>
            </div>
        </div>
    </body>
</html>